/* PARTNER */
.partners img {
  height: 200px;
  max-width: 100%;
  margin: 20px;
}

/* FOOTER */
footer {
  background: linear-gradient(135deg, #355b35, #2f4f2f);
  color: white;
  padding: 60px 20px;
  align-items: center;

  text-align: center;
  font-size: var(--text-sm);
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;

  margin: 35px 0 25px;
}

.footer-social a {
  width: 150px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  transition: 0.3s ease;
}

.footer-social img {
  height: 100px;
  max-width: 100px;
}

.footer-social a:hover {
  transform: translateY(-6px) scale(1.1);
}

@media (max-width: 768px) {
  footer {
    padding: 22px 16px;
  }

  footer p {
    font-size: 12px;

    line-height: 1.6;

    text-align: center;
  }

  .footer-social a {
    width: 70px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    transition: 0.3s ease;
  }

  .footer-social img {
    height: 70px;
    max-width: 70px;
  }

  .partners img {
    height: 100px;
    max-width: 100%;
    margin: 5px;
  }
}
