.gallery-section {
  position: relative;
  padding: 20px 40px;

  background-color: #f9fbf8;
  background-image: linear-gradient(#e3ebe3 1px, transparent 1px), linear-gradient(90deg, #e3ebe3 1px, transparent 1px);
  background-size: 40px 40px;

  overflow: hidden;
}

.gallery-container {
  max-width: 1300px;
  margin: auto;
  text-align: center;
}

.gallery-subtitle {
  text-align: center;

  max-width: 700px;
  margin: 0 auto 50px;
  font-size: var(--text-sm);
  color: var(--text-soft);

  line-height: 1.8;
}

.gallery-list {
  position: relative;

  width: 100%;
  height: 450px;
}

.home-gallery-card {
  position: absolute;
  left: 0;
  top: 0;

  width: 240px;
  background: white;
  border-radius: 12px;
  padding: 10px 10px 16px;

  will-change: transform;

  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.1),
    0 3px 8px rgba(0, 0, 0, 0.08);

  cursor: grab;
  animation: floatPolaroid 4s ease-in-out infinite;

  user-select: none;
  -webkit-user-select: none;

  z-index: 2;
}

/* RANDOM POSITION */
.home-gallery-card:nth-child(1) {
  left: 80px;
  top: 20px;
  animation-delay: 0.5s;

  rotate: -4deg;
}

.home-gallery-card:nth-child(2) {
  left: 370px;
  top: 25px;
  animation-delay: 1s;

  rotate: 3deg;
}

.home-gallery-card:nth-child(3) {
  left: 660px;
  top: 40px;
  animation-delay: 1.5s;

  rotate: -2deg;
}

.home-gallery-card:nth-child(4) {
  left: 970px;
  top: 20px;
  animation-delay: 2s;

  rotate: 5deg;
}

.home-gallery-card:hover {
  z-index: 99999;

  transform: translateY(-12px) scale(1.03) rotate(0deg);

  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.18),
    0 5px 12px rgba(0, 0, 0, 0.1);
}

/* FOTO */

.home-gallery-photo {
  width: 100%;
  height: 190px;

  overflow: hidden;

  border-radius: 8px;
}

.home-gallery-photo img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: var(--transition);
}

.home-gallery-card:hover img {
  transform: scale(1.06);
}

/* INFO */
.home-gallery-info {
  text-align: center;

  padding-top: 14px;
}

.home-gallery-info h3 {
  font-size: var(--text-md);

  line-height: 1.5;

  color: var(--text-dark);

  font-weight: 500;

  margin-bottom: 10px;
}

.home-gallery-info p {
  font-size: var(--text-xs);

  color: var(--text-soft);

  margin-bottom: 6px;
}

.home-gallery-info span {
  display: block;

  font-size: var(--text-xs);

  color: var(--text-soft);
  opacity: 0.8;

  margin-bottom: 14px;

  font-style: italic;
}

.home-gallery-info button {
  border: none;

  background: transparent;

  color: var(--text-soft);

  font-size: var(--text-sm);

  cursor: pointer;

  transition: var(--transition);
}

.home-gallery-info button:hover {
  color: var(--primary);

  letter-spacing: 0.5px;
}

.home-gallery-more {
  margin-top: 40px;
}

@media (max-width: 768px) {
  .gallery-list {
    height: auto;
  }
}
